<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- Impedir a execução de scripts externos -->
     <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline'">
    <title>Sobre</title>
    <!-- Bootstrap -->
    <!--link rel="stylesheet" href="../public/css/bootstrap.min.css"-->
    <!-- CSS Personalizado ATENÇÃO!!! sempre após o CSS do bootstrap -->
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
    <div class="container">
        <section id="sobre">
            <h2>Sticky Notes</h2>
            <h3>Notas adesivas interativas</h3>
            <p>Autor: Professor José de Assis</p>
            <p>Sob a licença MIT</p>
            <p>Versão 1.0</p>
            <button type="button" onclick="fechar()">OK</button>
        </section>
    </div>

    <!-- Bootstrap -->
    <!--script src="../public/js/bootstrap.min.js"></script-->

    <!-- Renderizador da tela sobre -->
    <script src="rendererSobre.js"></script>
</body>

</html>